<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/login.js"></script>
</head>
<body>
    <%- include('partials/menu'); -%>
                <div class="app-main__outer">
                    <div class="app-main__inner">        
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-card mb-3 card">
                                    <div class="card-body">
                                        <h5><i class="metismenu-icon pe-7s-note"></i>ABOUT VIDEO CONFERENCEING SYSTEM</h5>
                                        <div class="card mb-3 widget-content bg-midnight-bloom text-white">
                                            Video Conferencing system allows students and lecturers hold lectures from the confort of their homes.
                                            All you need is a source of internet connection and a mobile phone or a PC with any web browser.
                                            <br>
                                            <br>
                                            To use the app, you first have to register.  You can register as a student or as a lecturer.  To 
                                            register as a student, you must provide your matriculation number. After successful registration, 
                                            you login into the system with your credentials. Create a room and copy the URL of the room to 
                                            share with anyone you want to invite to the room.  Paste this URL into your web browser to visit 
                                            the created room.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    <%- include('partials/footer'); -%>
    <script src="/js/main.js"></script> 
</body>
</html>  